.git
.gitignore

.cache/
.poetry/

__pycache__/
*.py[cod]
*.pyo

*.log
*.tmp
*.bak
*.swp

.env
.env.*
.vscode/
.idea/
.DS_Store

.tox/
.coverage
htmlcov/
pytest_cache/

tests/
docs/
notebooks/
examples/

*.db
*.sqlite
*.pid

*.sublime-project
*.sublime-workspace